label {
	display: inline-block;
	width: 400px;
	text-align: right;
}
.div {
	display: inline-block;
	width: 400px;
	text-align: right;
}

input {
	width: 400px;
	text-align: left;
}
h1 {
	
	text-align: center;
	padding-bottom: 50px;
	text-decoration-color: rgb(33, 37, 41);
}


.cadastro{	
	margin: auto;
	text-align: center;
}

.tamanho-botão{
	width: 124px;
    float: right;
}

.check-box{
	width:120px ;
	text-align: center;	
	float: left;
	
}

.flex {
	 float: right;
}

.main-container{
	padding-top: 60px;
}

.imagem-wrapper {
    width: 1400px;
    height: 420px;
    overflow: hidden;
    position: relative; 
}
.imagem{
    width: 2600px;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translateX(-50%) translateY(-50%);	
}

.calendario {
	width: 10px;
}

.magin-bottom {
	margin-bottom: 15px;
}